﻿@model QLSachOnline.Models.tacgia
@{
    ViewBag.Title = "Chi tiết tác giả";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
}

<p>
    <a href="@Url.Content("/TacGia/QuanLyTacGia")" class="btn btn-primary">Trở về</a>
</p>
<h2>Chi tiết tác giả</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2 font-weight-bold">Mã tác giả:</div>
        <div class="col-md-2">@Model.matg</div>
        <div class="col-md-2 font-weight-bold">Tên tác giả:</div>
        <div class="col-md-3">@Model.tentg</div>
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2 font-weight-bold">Ngày sinh:</div>
        <div class="col-md-2">@Model.ngaysinh.Value.ToShortDateString()</div>
        <div class="col-md-2 font-weight-bold">Giới tính:</div>
        @if (Model.gioitinh.Equals(true))
        {
            <div class="col-md-3">Nam</div>
        }
        else
        {
            <div class="col-md-3">Nữ</div>
        }
        <div class="col-md-2">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2 font-weight-bold">Quê quán:</div>
        <div class="col-md-2">@Model.quequan</div>
        <div class="col-md-2 font-weight-bold">Nghệ danh:</div>
        <div class="col-md-2">@Model.nghedanh</div>
        <div class="col-md-3">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-3 font-weight-bold">Số lượng tác phẩm có trên trang:</div>
        <div class="col-md-2">@Model.saches.Count</div>
        <div class="col-md-5">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2"><a href="@Url.Content("/TacGia/formChinhSuaTG/"+Model.matg)" class="btn btn-outline-primary">Chỉnh sửa</a></div>
        <div class="col-md-9">&nbsp;</div>
    </div>
</div>


