﻿@model QLSachOnline.Models.tacgia
@{
    ViewBag.Title = "Xóa tác giả";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
}



<div class="container-fluid">
    <form action="@Url.Content("/TacGia/xoaTacGia/"+Model.matg)" method="post">
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <p><a href="@Url.Content("/TacGia/QuanLyTacGia")" class="btn btn-primary">Trở về</a></p>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><h2>Xóa tác giả</h2></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div>&nbsp;</div>
        <div class="row form-group">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 font-weight-bold">Mã tác giả:</div>
            <div class="col-md-2">@Model.matg</div>
            <div class="col-md-2 font-weight-bold">Tên tác giả:</div>
            <div class="col-md-3">@Model.tentg</div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div>&nbsp;</div>
        <div class="row form-group">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2 font-weight-bold">Ngày sinh:</div>
            @if (Model.ngaysinh != null)
            {<div class="col-md-2">@Model.ngaysinh.Value.ToShortDateString()</div>}
        else
        {<div class="col-md-2">&nbsp;</div>}

            <div class="col-md-2 font-weight-bold">Giới tính:</div>
            <div class="col-md-3">@(Model.gioitinh.Equals(true)?"Nam":"Nữ")</div>
            <div class="col-md-2">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            @{
                if (ViewBag.flagXoa != null)
                {
                    <div class="col-md-3">
                        <input type="submit" value="Xóa" class="btn btn-primary" />
                    </div>
                }
                else
                {
                    <div class="col-md-3">
                        <h3 class="text-danger">Không thể xóa </h3><br /> <hr />
                    </div>
                }
            }

            <div class="col-md-8">&nbsp;</div>
        </div>
    </form>
</div>

