﻿@model IEnumerable<QLSachOnline.Models.tacgia>
@{
    ViewBag.Title = "Quản lý tác giả";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
}


<div class="container-fluid" style="height:100vh">
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-11"><h2>Quản lý tác giả</h2></div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2">
            <a href="@Url.Content("/TacGia/formThemTacGia")" class="btn btn-primary">Thêm tác giả</a>
        </div>
        <div class="col-md-7">
            &nbsp;
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">Sort</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2 font-weight-bold">
            Mã tác giả
        </div>
        <div class="col-md-3 font-weight-bold">
            Tên tác giả
        </div>
        <div class="col-md-2 font-weight-bold">
            Ngày sinh
        </div>
        <div class="col-md-1 font-weight-bold">
            Giới tính
        </div>
        <div class="col-md-3">&nbsp;</div>

    </div>
    @foreach (var item in Model) {
<div class="row">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-2">
        @item.matg
    </div>
    <div class="col-md-3">
        <a href="@Url.Content("/TacGia/formChiTietTacGia/" + item.matg)">@item.tentg</a>
    </div>

    @if (item.ngaysinh != null)
    {
        <div class="col-md-2">@item.ngaysinh.Value.ToShortDateString()</div>
    }
    else
    {<div class="col-md-2">&nbsp;</div>}


    <div class="col-md-1">@(item.gioitinh.Equals(true) ? "Nam" : "Nữ") </div>


    <div class="col-md-1">
        <a href="@Url.Content("/TacGia/formXoaTacGia/"+item.matg)" class="btn btn-outline-primary">Xóa</a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Content("/TacGia/formChinhSuaTG/"+item.matg)" class="btn btn-outline-primary">Chỉnh sửa</a>
    </div>
</div>
    }
<div>&nbsp;</div>
</div>
