﻿@model QLSachOnline.Models.userlogin

@{
    ViewBag.Title = "ThongTinChiTietUser";
    Layout = "~/Views/_Layout/_LayoutDangNhapDangKy.cshtml";
}

<h2>ThongTinChiTietUser</h2>

<div>
    <h4>userlogin</h4>
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.matkhau)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.matkhau)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.sdt)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.sdt)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.status)
                </dd>

            </dl>
        </div>


    </div>
 </div>