﻿@model IEnumerable<QLSachOnline.Models.theloai>
@{
    ViewBag.Title = "Quản lý thể loại";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
}




<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2">
            <p>
                <a href="@Url.Content("/TheLoai/QuanLyTheLoai")" class="btn btn-primary">Trở về</a>
            </p>
        </div>
        <div class="col-md-9">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-11">
            <h2>Quản lý thể loại</h2>
            @if (ViewBag.flagCo != null)
            {
                <div class="alert alert-danger" id="pointCheck"><strong>Mã trùng!</strong></div>
            }
            @if (ViewBag.flagMaRong != null)
            {
                <div class="alert alert-danger" id="pointCheck"><strong>Mã rỗng, vui lòng nhập mã!</strong></div>
            }
            <script type="text/javascript">
                function checkcheck() {
                    if (!$('#pointCheck').is("hidden")) {
                        document.getElementById("pointCheck").setAttribute("hidden", true);
                    }
                }
            </script>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2">

            <!-- Model thêm thể loại -->
            <button type="button" class="btn btn-primary" onclick="checkcheck()" data-toggle="modal" data-target="#modalThem">Thêm thể loại</button>
            <form action="@Url.Content("/TheLoai/themTheLoai")" method="post">

                <div class="modal" id="modalThem">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Thêm thể loại</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>


                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row form-group">
                                        <div class="col-md-3">Mã thể loại:</div>
                                        <div class="col-md-6"><input type="text" name="maloai" class="form-control"/></div>
                                        <div class="col-md-3">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3">Tên thể loại:</div>
                                        <div class="col-md-6"><input type="text" name="tentl" class="form-control" /></div>
                                        <div class="col-md-3">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3">Ghi chú:</div>
                                        <div class="col-md-6"><textarea name="ghichu" class="form-control"></textarea></div>
                                        <div class="col-md-3">&nbsp;</div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-1">&nbsp;</div>
                                        <div class="col-md-2"><button type="submit" class="btn btn-primary">Thêm</button></div>
                                        <div class="col-md-6">&nbsp;</div>
                                        <div class="col-md-2"><button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button></div>
                                        <div class="col-md-1">&nbsp;</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-9">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-12">&nbsp;</div>
    </div>
    <!-- Danh sách thể loại -->
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2 font-weight-bold">Mã thể loại</div>
        <div class="col-md-2 font-weight-bold">Tên thể loại</div>
        <div class="col-md-4 font-weight-bold">Ghi chú</div>
        <div class="col-md-3">&nbsp;</div>
    </div>
    @{
        int dem=0;
        foreach (var item in Model)
        {
    <div class="row card-body">
        <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">
                @item.maloai
            </div>
            <div class="col-md-2">
               @item.tentl
            </div>
        <div class="col-md-4">@item.ghichu</div>
        <div class="col-md-1">
            <!-- Model xóa thể loại -->
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalXoa_@dem">Xóa</button>
            <form action="@Url.Content("/TheLoai/xoaTheLoai/" + item.maloai)" method="post">

                <div class="modal" id="modalXoa_@dem">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Xóa thể loại</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>


                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row form-group">
                                        <div class="col-md-3">Mã thể loại:</div>
                                        <div class="col-md-6">@item.maloai</div>
                                        <div class="col-md-3">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3">Tên thể loại:</div>
                                        <div class="col-md-6">@item.tentl</div>
                                        <div class="col-md-3">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3">Ghi chú:</div>
                                        <div class="col-md-6">@item.ghichu</div>
                                        <div class="col-md-3">&nbsp;</div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-1">&nbsp;</div>
                                        @{
                                            bool flagXoa = false;
                                            foreach (var item2 in item.saches)
                                            {
                                                if (item2.theloais.Contains(item))
                                                {
                                                    flagXoa = true;
                                                    break;
                                                }

                                            }
                                            if (flagXoa)
                                            {
                                                <div class="col-md-7"><h3 class="text-danger">Không thể xóa</h3></div>
                                            }
                                            else
                                            {
                                                <div class="col-md-7"><button type="submit" class="btn btn-primary">Xóa</button></div>
                                            }
                                        }
                                        <div class="col-md-1">&nbsp;</div>
                                        <div class="col-md-2"><button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button></div>
                                        <div class="col-md-1">&nbsp;</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <!-- Model chỉnh sửa thể loại -->
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modalChinhsua_@dem">Chỉnh sửa</button>
            <form action="@Url.Content("/TheLoai/suaTheLoai/"+item.maloai)" method="post">

                <div class="modal" id="modalChinhsua_@dem">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title">Chỉnh sửa thể loại</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>


                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row form-group">
                                        <div class="col-md-3">Mã thể loại:</div>
                                        <div class="col-md-6"><input type="text" name="maloai" value="@item.maloai" class="form-control" readonly/></div>
                                        <div class="col-md-3">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3">Tên thể loại:</div>
                                        <div class="col-md-6"><input type="text" name="tentl" value="@item.tentl" class="form-control"/></div>
                                        <div class="col-md-3">&nbsp;</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-md-3">Ghi chú:</div>
                                        <div class="col-md-6"><textarea name="ghichu" class="form-control">@item.ghichu</textarea></div>
                                        <div class="col-md-3">&nbsp;</div>
                                    </div>
                                </div>
                            </div>


                            <div class="modal-footer">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-1">&nbsp;</div>
                                        <div class="col-md-3"><button type="submit" class="btn btn-primary">Chỉnh sửa</button></div>
                                        <div class="col-md-5">&nbsp;</div>
                                        <div class="col-md-2"><button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button></div>
                                        <div class="col-md-1">&nbsp;</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
            dem++;
        }
        }
    <div>&nbsp;</div>
</div>
