﻿@model QLSachOnline.Models.sach
@{
    ViewBag.Title = "Xóa sách";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
}

<p>
    <a href="@Url.Content("/Sach/QuanLySach")" class="btn btn-primary">Trở về</a>
</p>
<h2>Xóa sách</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 font-weight-bold">Mã sách:</div>
        <div class="col-md-4">@Model.masach</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Tên sách:</div>
        <div class="col-md-4">@Model.tensach</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Thể loại:</div>
        @foreach (var item in Model.theloais)
        {
            <div class="col-md-4">@item.tentl</div>
        }
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Tác giả:</div>
        @foreach (var item in Model.tacgias)
        {
            <div class="col-md-4">@item.tentg</div>
        }
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Nhà xuất bản:</div>
        <div class="col-md-4">@Model.nhaxuatban.tennhaxuatban</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Năm sản xuất:</div>
        <div class="col-md-4">@Model.namxuatban</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-2 font-weight-bold">Giá:</div>
        <div class="col-md-4">@Model.phi</div>
        <div class="col-md-6">&nbsp;</div>
    </div>
    <div class="row">
        @if ((bool)ViewBag.flagXoa)
        {
            <h4 class="text-danger">Bạn có thật sự muốn xóa sách này không?</h4>
            <div class="col-md-3"><a href="@Url.Content("/Sach/xoaSach/"+Model.masach)" class="btn btn-primary">Xóa</a></div>
            <div class="col-md-9">&nbsp;</div>
        }
        else
        {
            <h4 class="text-danger">Bạn không thể xóa học viên này!!!</h4>
        }

    </div>
</div>
