﻿@model QLSachOnline.Models.sach
@{
    ViewBag.Title = "Chỉnh sửa sách";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
    QLSachOnline.Models.QLySachOnline db = new QLSachOnline.Models.QLySachOnline();
}


<p>
    <a href="@Url.Content("/Sach/QuanLySach")" class="btn btn-primary">Trở về</a>
</p>
<h2>Chỉnh sửa</h2>
<div class="container-fluid">
    <form action="@Url.Content("/Sach/ChinhSuaSach/"+Model.masach)" method="post">
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Mã sách:</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><input type="text" name="masach" value="@Model.masach" readonly class="form-control" /></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Tên sách:</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><input type="text" name="tensach" value="@Model.tensach" class="form-control" /></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Năm xuất bản:</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><input type="number" name="namxuatban" value="@Model.namxuatban" class="form-control" /></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Thể loại:</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <select class="form-control selectpicker" name="maloai" multiple data-live-search="true">
                    @foreach (var item in db.theloais)
                    {
                        if (Model.theloais.Contains(item))
                        {
                            <option value="@item.maloai" selected>@item.tentl</option>
                        }
                        <option value="@item.maloai">@item.tentl</option>
                    }
                </select>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Nhà xuất bản:</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <select class="form-control" name="manhaxuatban">
                    @foreach (var item in db.nhaxuatbans)
                    {
                        if (Model.manhaxuatban.Equals(item.manhaxuatban))
                        {
                            <option value="@item.manhaxuatban" selected>@item.tennhaxuatban</option>
                        }
                        <option value="@item.manhaxuatban">@item.tennhaxuatban</option>
                    }
                </select>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Tác giả:</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <select class="form-control selectpicker" name="matg" multiple data-live-search="true">
                    @foreach (var item in db.tacgias)
                    {
                        if (Model.tacgias.Contains(item))
                        {
                            <option value="@item.matg" selected>@item.tentg</option>
                        }
                        <option value="@item.matg">@item.tentg</option>
                    }
                </select>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Giá:</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><input type="number" name="phi" value="@Model.phi" class="form-control" /></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-9">&nbsp;</div>
            <div class="col-md-1">
                <input type="submit" value="Thêm" class="btn btn-primary form-control" />
            </div>
            <div class="col-md-2">&nbsp;</div>
        </div>
    </form>
</div>
