﻿
@{
    ViewBag.Title = "Thêm sách";
    Layout = "~/Views/_Layout/_LayoutAdmin.cshtml";
    QLSachOnline.Models.QLySachOnline db = new QLSachOnline.Models.QLySachOnline();
}


<div class="container-fluid">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-2">
            <a href="@Url.Content("/Sach/QuanLySach")" class="btn btn-primary">Trở về</a>
        </div>
        <div class="col-md-9">&nbsp;</div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-1">&nbsp;</div>
        <div class="col-md-11"><h2>Thêm sách</h2></div>
    </div>
    <div class="row">&nbsp;</div>
    <form action="@Url.Content("/Sach/themSach")" method="post">
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Mã sách</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <input type="text" name="masach" value="" class="form-control" onkeydown="checkcheck()" />
                @if (ViewBag.flagCo != null)
                {
                    <div class="alert alert-danger" id="pointCheck"><strong>Mã trùng!</strong></div>
                }
                @if (ViewBag.flagMaRong != null)
                {
                    <div class="alert alert-danger" id="pointCheck"><strong>Mã rỗng, vui lòng nhập mã!</strong></div>
                }
                <script type="text/javascript">
                    function checkcheck() {
                        if (!$('#pointCheck').is("hidden")) {
                            document.getElementById("pointCheck").setAttribute("hidden", true);
                        }
                    }
                </script>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Tên sách</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><input type="text" name="tensach" value="" class="form-control" /></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Năm sản xuất</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><input type="number" name="namxuatban" value="" class="form-control" /></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Thể loại</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <select class="form-control selectpicker" name="maloai" multiple data-live-search="true">
                    @foreach (var item in db.theloais)
                    {
                        <option value="@item.maloai">@item.tentl</option>
                    }
                </select>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <script type="text/javascript">
            $('select').selectpicker();
        </script>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Nhà xuất bản</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <select class="form-control" name="manhaxuatban">
                    @foreach (var item in db.nhaxuatbans)
                    {
                        <option value="@item.manhaxuatban">@item.tennhaxuatban</option>
                    }
                </select>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Tác giả:</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6">
                <select class="form-control selectpicker" name="matg" multiple data-live-search="true">
                    @foreach (var item in db.tacgias)
                    {
                        <option value="@item.matg">@item.tentg</option>
                    }
                </select>
            </div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Giá</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><input type="number" name="phi" class="form-control" /></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Tóm tắt</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><textarea class="form-control"></textarea></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6 font-weight-bold">Hình ảnh</div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-6"><input type="file" name="hinhanh" value="" class="form-control" /></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>


        <div class="row">
            <div class="col-md-6">&nbsp;</div>
            <div class="col-md-1"><input type="submit" value="Thêm" class="btn btn-primary form-control" /></div>
            <div class="col-md-5">&nbsp;</div>
        </div>
        <div class="row">&nbsp;</div>
    </form>
</div>
