﻿@model QLSachOnline.Models.sach
@{
    ViewBag.Title = "Tên sách";
    Layout = "~/Views/_Layout/_LayoutMain.cshtml";
}

<div class="row" style="padding:20px">
    <div class="col-md-1">&nbsp;</div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3"><img src="@Url.Content("/Images/Images_SP/Pro1.jpg")" height="250" width="200" /></div>
            <div class="col-md-1">&nbsp;</div>
            <div class="container-fluid col-md-8">
                <div class="row">
                    <div class="col-md-3 font-weight-bold">Tên:</div>
                    <div class="col-md-8">@Model.tensach</div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-3 font-weight-bold">Thể loại:</div>
                    <div class="col-md-8">
                        @foreach (var item in Model.theloais)
                        {
                            <span>@item.tentl</span>
                        }
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-3 font-weight-bold">Tác gỉả:</div>
                    <div class="col-md-8">
                        @foreach (var item in Model.tacgias)
                        {
                            <span>@item.tentg</span>
                        }
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-3 font-weight-bold">Nhà xuất bản:</div>
                    <div class="col-md-8">@Model.nhaxuatban.tennhaxuatban</div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-3 font-weight-bold">Năm:</div>
                    <div class="col-md-8">@Model.namxuatban</div>
                    <div class="col-md-1">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-md-3"><a href="@Url.Content("/Sach/formNoiDung/"+Model.masach+"-"+Model.chuongs.First().machuong)" class="btn btn-primary">Đọc</a></div>
                    <div class="col-md-9">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row rounded" style="background-color:#AAAAAA">
            <div class="col-md-4 font-weight-bold">Tóm tắt nội dung</div>
            <div class="col-md-8">&nbsp;</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                NÔI DUNG TÓM TẮT BLA BLA BLA
                BLA BLA BLABLA BLA BLABLA BLA BLA
                BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                BLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLABLA BLA BLA
                BLA BLA BLABLA BLA BLABLA BLA BLA
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row rounded" style="background-color:#AAAAAA">
            <div class="col-md-3 font-weight-bold">Chương:</div>
            <div class="col-md-9">&nbsp;</div>
        </div>
        @foreach (var item in Model.chuongs)
        {
            <div class="row">
                <div class="col-md-6"><a href="@Url.Content("/Sach/formNoiDung/"+Model.masach+"-"+item.machuong)">@item.tenchuong</a></div>
                <div class="col-md-6">&nbsp;</div>
            </div>
        }

    </div>
    <div class="col-md-1">&nbsp;</div>
</div>
