﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <link href="~/Content/custom_Design.css" rel="stylesheet" />
    <style>
        .dropdown:hover > .dropdown-menu {
            display: block;
        }
    </style>

    <title>@ViewBag.Title</title>
</head>
<body>
    @{
        QLSachOnline.Models.QLySachOnline db = new QLSachOnline.Models.QLySachOnline();
        QLSachOnline.Models.userlogin userlogin = Session["Login"] as QLSachOnline.Models.userlogin;
    }
   
        <div class="card overflow-hidden" style="background-color:#BBBBBB;height:100vh">
            <div class="card-header bg-dark text-light">
                <div class="row">
                    <div class="col-md-4">
                        <a href="@Url.Content("/Home/Index")" class="text-decoration-none">
                            <img src="~/Images/LogoIconReal.png" height="45">
                            <span class="text-light font-weight-bold">AtsBOOKS</span>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <form class="form-inline" action="#">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-outline-light" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="col-md-4 justify-content-center" style="text-align:center">
                        <!-- Kiểm tra tình trạng đăng nhập -->
                        @if ((bool)Session["isLogin"] == false)
                        {
                            <a href="@Url.Content("/User/IndexDangNhap")" class="text-light text-decoration-none">Đăng nhập/</a>
                            <a href="@Url.Content("/User/IndexDangKy")" class="text-light text-decoration-none">Đăng ký</a>
                        }
                        else
                        {


                            <div class="bg-dark row">
                                <div class="col-md-4">
                                    &nbsp;
                                </div>
                                <div class="col-md-4 dropdown">
                                    @if ((bool)Session["AdminCheckLogin"] == false) {
                                        <a href="@Url.Content("/User/ThongTinChiTietUser/"+userlogin.taikhoan)" class="text-light text-decoration-none">@userlogin.taikhoan</a>
                                    }
                                    else
                                    {
                                        <a href="@Url.Content("/Sach/QuanLySach")" class="text-light text-decoration-none">Quản trị viên</a>
                                    }
                                    <div class="dropdown-menu bg-secondary text-wrap">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-12 text-md-left">
                                                    @if((bool)Session["AdminCheckLogin"] == false)
                                                    {
                                                        <a href="@Url.Content("/User/ThongTinChiTietUser/"+userlogin.taikhoan)" class="text-decoration-none text-light">Tài khoản</a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Content("/Sach/QuanLySach")" class="text-decoration-none text-light">Quản lý</a>
                                                    }
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 text-md-left">
                                                    <a href="@Url.Content("/Home/logout")" class="text-decoration-none text-light">Logout</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    &nbsp;
                                </div>
                            </div>
                        }
                        <!-- ------------------------ -->
                    </div>
                </div>
            </div>
            <div class="card-title bg-secondary">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="nav list-group-horizontal">
                            <li class="nav-item list-group-item bg-secondary">
                                <a href="@Url.Content("/Home/Index")" class="text-decoration-none text-light"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Trang chủ</a>
                            </li>
                            <li class="nav-item list-group-item bg-secondary dropdown">
                                <a href="@Url.Content("/Home/Index")" class="text-decoration-none text-light" id="dropdownMenuButton"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;Thể loại</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul class="nav nav-tabs">
                                        @foreach (var item in db.theloais)
                                        {
                                            <li class="w-100" style="margin:10px">
                                                <a href="@Url.Content("/Home/formTheLoaiFilter/"+item.maloai)" class="text-decoration-none text-dark">@item.tentl</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item list-group-item bg-secondary dropdown">
                                <a href="@Url.Content("/Home/Index")" class="text-decoration-none text-light" id="dropdownMenuButton"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;....</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @* xài vòng lặp foreach*@
                                </div>
                            </li>
                            <li class="nav-item list-group-item bg-secondary dropdown">
                                <a href="@Url.Content("/Home/Index")" class="text-decoration-none text-light" id="dropdownMenuButton"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;....</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @* xài vòng lặp foreach*@
                                </div>
                            </li>
                            <li class="nav-item list-group-item bg-secondary">
                                <a href="@Url.Content("/Home/Index")" class="text-decoration-none text-light"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;Góp ý</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row h-100">
                    @if ((bool)Session["isLogin"])
                    {



                        <div class="col-md-2" style="background-color:#CCCCCC">
                            <div class="card-header"><h3 class="text-center">Tài khoản người dùng</h3></div>
                            <div class="list-group rounded">
                                <a href="#" class="text-decoration-none text-dark list-group-item-action list-group-item list-group-item-dark">Thông tin người dùng</a>
                                @if (Session["AdminLogin"] != null)
                                {
                                    <a href="#" class="text-decoration-none text-dark list-group-item-action list-group-item list-group-item-success">Quản lý web & người dùng</a>
                                }
                                <a href="#" class="text-decoration-none text-dark list-group-item-action list-group-item list-group-item-secondary">Bảo mật tài khoản</a>
                                <a href="#" class="text-decoration-none text-dark list-group-item-action list-group-item list-group-item-dark">Sách đã lưu</a>
                                <a href="#" class="text-decoration-none list-group-item-action text-dark list-group-item list-group-item-secondary">Thiết lập tài khoản</a>
                                <a href="@Url.Content("/User/logout")" class="text-decoration-none list-group-item-action text-danger list-group-item list-group-item-dark">Đăng xuất</a>
                            </div>
                        </div>
                    }
                    else
                    {<div class="col-md-2">&nbsp;</div>}

                    <div class="col-md-8">
                        @RenderBody()
                    </div>
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="card-footer bg-dark text-light">
                Footer
            </div>
        </div>
</body>
</html>
